{% extends "unfold/layouts/base.html" %}
{% load i18n unfold %}

{% block title %}{{ title }}{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% url 'admin:jsi18n' %}"></script>
    {{ form.media }}
{% endblock %}

{% block content %}
  <form method="post" novalidate>
    {% csrf_token %}
    
    <div class="p-4 bg-white border rounded-md shadow-sm md:p-6">
      <div class="pb-4 mb-6 border-b flex justify-between">
        <div>
            <p class="text-sm font-medium text-gray-500">Wallet User: {{ wallet.user.get_full_name }}</p>
            <p class="text-sm font-semibold text-gray-800">Current Balance: ₹{{ wallet.balance }}</p>
        </div>
        <div style="
    /* margin-top: 24px; */
    display: flex;
    gap: 12px;
    justify-content: flex-end;
    align-items: center;
">

            <a href="{% url 'admin:wallet_wallet_change' wallet.id %}" class="button" style="
        padding: 8px 20px;
        background-color: #e0e0e0;
        color: #333;
        border: 1px solid #ccc;
        border-radius: 6px;
        text-decoration: none;
        font-weight: 500;
        transition: background-color 0.2s ease;
     " onmouseover="this.style.backgroundColor='#d5d5d5'" onmouseout="this.style.backgroundColor='#e0e0e0'">
                Cancel
            </a>

            <button type="submit" style="
            padding: 8px 20px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 6px;
            font-weight: 600;
            cursor: pointer;
            transition: background-color 0.2s ease;
          " onmouseover="this.style.backgroundColor='#0069d9'" onmouseout="this.style.backgroundColor='#007bff'">
                Submit
            </button>

        </div>
      </div>

      {% for field in form %}
        {% include "unfold/helpers/field.html" with field=field %}
      {% endfor %}
    </div>
  </form>
{% endblock %}

